.navbar {
    height: 90px;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.searchStyles  {
    appearance: "none";
    border-radius: "16px";
    border-style: "solid";
    border-width: "2px";
    padding: "10px";
    width: "50%";
    align-self: "center";
    outline: "none";
  };